/*Button Styles*/
button{
    float:left;
    border-style: ridge;
    border-radius: 5px;
    border-color: cadetblue;
    border-width: 5px;
    font-size: larger;
    padding:5px;
    transition-duration: .2s;
    margin:5%;
}
    /*when the mouse hovers over the button*/
button:hover{
    background-color:rgb(70, 117, 119);
    color:whitesmoke;
}

    /*when the user presses the button*/
button:active{
    background-color:rgb(38, 75, 77);
}



/*ID STYLES*/

#buttonEnvelope{
    background-color: cadetblue; 
    float:left;
}