/*Button Styles*/
button{
    border-style: ridge;
    border-radius: 5px;
    border-color: cadetblue;
    border-width: 5px;
    font-size: larger;
    padding:5px;
    padding-left: 15px;
    padding-right: 15px;
    transition-duration: .2s;
    margin:5%;
}
    /*when the mouse hovers over the button*/
button:hover{
    background-color:rgb(70, 117, 119);
    color:whitesmoke;
}

    /*when the user presses the button*/
button:active{
    background-color:rgb(38, 75, 77);
}



/*ID STYLES*/

#buttonEnvelope{
    align-content: center;
    border-style:groove;
    border-color:cadetblue;
    background-color: rgb(149, 219, 221); 
    margin:15%;
    padding:25px;
}

/*Video Styles*/
video{
    width:25%;
    height: 25%;
    border-style: ridge;
    border-color: cadetblue;
    border-width: 5px;
}
